  /* select the body tag */
            body {
                margin: 0;
            }
            /* select all the tags <section> */
            section {
                border-bottom: 1px solid black;
                overflow: hidden;
            }
            /* select all the tags that have
                    class="technologies"
                    or even class="technologies some-other-class" 
                    or even class="some-other-class technologies some-third-class"
            */
            .technologies {
                background-color: aliceblue;
            }
            .schedule {
                background-color: tomato;
            }
            .curriculum {
                background-color: rgba(0, 255, 0, 0.5);
            }
            /* select all the UL elements that are anywhere insde a NAV element */
            nav ul {
                list-style: none;
                 margin: 0 !important;
            }
            nav li {
                display: inline-block;
                border: 1px solid black;
                padding: 5px;
                margin-left: 10px;
                margin: 10px;
                margin-bottom: 10px;
            }
            nav a {
                text-decoration: none;
            }
            nav {
                background-color: blue;
            }
            td,th {
                border: 1px solid #000000;
                padding: 20px;
            }
            footer {
                padding: 5px;
                background-color: #000000;
            }
            footer ul li {
                padding: 15px;
            }
            footer {
                color: white;
            }
            footer a {
                color: tomato;
                text-decoration: none;
            }
            footer ul {
                padding: 0;
                width: 100%;
                background-color: #000000;
            }
            footer ul li {
                padding: 0;
                width: 50%;
                display: block;
                float: left;
                background-color: #000000;
            }
            footer img {
                width: 100px;
            }