  /* select the body tag */
            body {
                margin: 0;
            }
            /* select all the tags <section> */
            section {
                border-bottom: 1px solid black;
                overflow: hidden;
            }
            /* select all the tags that have
                    class="technologies"
                    or even class="technologies some-other-class" 
                    or even class="some-other-class technologies some-third-class"
            */
            .technologies {
                background-color: aliceblue;
            }
            .schedule {
                background-color: tomato;
            }
            .curriculum {
                background-color: rgba(0, 255, 0, 0.5);
            }
            /* select all the UL elements that are anywhere insde a NAV element */
            nav ul {
                list-style: none;
            }
            nav li {
                display: inline;
                border: 1px solid black;
                padding: 5px;
                margin-left: 10px;
            }
            nav a {
                text-decoration: none;
            }